*{

}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.parent{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.child2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.parent2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child3{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: gray;
}
.child4{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-color: black;
}
.toycar1{
    height:50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

}
.toycar2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}
.parent3{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child5{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}
.child6{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.child7{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.toycar3{
    height: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.parent4{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child8{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.child9{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:purple;
}
.child10{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}
.child11{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
}
.toycar4{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lime;
}
.toycar5{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkmagenta;
}